*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: green ;

}
.titulo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container{
  display: flex;
  justify-content: center;
  gap: 50px;
}